<?xml version="1.0" encoding="utf-8" ?>

<!--
		This app config represents the application configuration items
		that the FiSysTattler.Library uses. The setting here will 
		need to be carried over the the hosting executable's config
-->

<configuration>
	<appSettings>
		
	<!-- WatcherManager Config appSettings -->

		<add key="WatchesDeclarationsPath" value=""/>
	
	<!-- End WatcherManager Config appSettings -->
		
	</appSettings>
</configuration>